/* @import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif); */

html {
    font-family: 'PT Sans', sans-serif;
     -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-size: 11pt;
    line-height: 1.3;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em;
    color: #000;
    background: #eee none repeat scroll 0 0;添加背景区分
}

/* 用来添加边框 */
div#content {
    border: 1px solid #bbb;
    background: #fff;
    margin: 0;
    padding: 3em;
}

h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2.8em;
}
h2 {
  font-size: 2.4em;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.3em;
}
h6 {
  font-size: 1.15em;
}

code {
  background-color: #EFEEEE;
  padding: 2px;
}

.title {/* background: url(http://orgmode.org/org-mode-unicorn.png) no-repeat 12px 5px; */
/*    position: fixed; */
/*    display: inline; */
    left: 0px;
    top: 0px;
/*    height: 35px; */
    width: 100%;
    margin-top: 0px;background-color: rgba(0, 0, 255, 0.45);
    padding: 0;
    z-index: 99;
    text-align: center;}

#orgquote {
    position: fixed;
    display: none;
    top: 77px;
    padding: 5pt;
    text-align: center;
    background-color: black;
    width: 100%;
    color: #ccc;
    box-shadow: 0px 15px 10px #fff;
    font-size: 90%;
    font-family: Courier new;
    z-index: 98;
}

#paypal {
    display: none;
    position:fixed;
    right: 10px;
    top: 15px;
    z-index: 100;
}

#paypal button {
    font-family: Courier new;
    cursor: pointer;
    color: white;
    position:fixed;
    display: none;
    right: 14px;
    top: 15px;
    width: 90px; 
    height: 40px;
    box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #53e1e3;
    font-weight: bold;
}

#paypal button:hover {
    position:fixed;
    display: none;
    right: 9px;
    top: 15px;
    width: 90px; 
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    box-shadow: 0px 0px 0px #888;
    -webkit-box-shadow: 0px 0px 0px #888;
    -moz-box-shadow: 0px 0px 0px #888;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #49f4f6;
    font-weight: bold;
}

h1.title {
    text-shadow: 2px 2px 4px #999;
    font-family: Courier New;
    margin: -1em -1em .2em;
    padding: 0.15em 1em;
    color: #FFF;
}

#linklist 
{
    position: fixed;
    font-size: 13pt;
    font-family: Courier New; 
    padding-top: 0px;
    padding-right: 0px;
    top: 107px;
    left: 0px;
    margin-top: 0px;
    width: 180px;
    background-color: #fff;
    color: black;
    box-shadow: 8px 8px 12px #ccc;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    z-index: 100;
}

#linklist a {
    color: black;
    font-weight: normal; 
    text-decoration: none;
    display:block;
    padding: 7pt;
}

#linklist ul {
    margin: 0;
    padding: 0;
}

#linklist li {
    text-align: right;
    margin: 0;
}

.timestamp {
    font-family: Courier New;
    color: rgba(136, 136, 136, 0.28);
}

#linklist li:hover {
    border-left: 7px solid #537d7b;
}

pre {
  background-color: #000000;
  color: #4EB9E0;
  border: 3pt solid #969696;
  padding: 1em;
  /* box-shadow: 5pt 5pt 8pt #EFEEEE; */
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}


#buttons {
    position: fixed;
    bottom: 10px;
    /* right: 20px; */
    left: 20px;
    z-index: 100;
    width: 100px;
}

.ok {
    -moz-opacity:.2;
    opacity: .2;
    filter:alpha(opacity=20);
}

.ok:hover {
    -moz-opacity:1;
    opacity: 1;
    filter:alpha(opacity=100);
}

.outline-2 {
/*    position: relative; */
    left: 215px;
    top: 105px;
    width: 90%;
    padding-bottom: 5pt;
}

#twit {
    -moz-opacity:.2;
    opacity: .2;
    filter:alpha(opacity=20);
    position: fixed;
    top: 362px;
    box-shadow: 8px 8px 12px #ccc;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    z-index: 100;
}

#twit:hover {
    -moz-opacity:1;
    opacity: 1;
    filter:alpha(opacity=100);

    position: fixed;
    top: 362px;
    box-shadow: 8px 8px 12px #ccc;
    z-index: 100;
}

#outline-container-1 {
    padding-top: 3pt;
}

.outline-2 h2 {
    border-bottom: 4px solid #8C8CFF;
}

.outline-2 h3 {
    border-bottom: 2px solid #8C8CFF;
}

.outline-2 h4 {
    border-bottom: 1px solid #8C8CFF;
}

.outline-2 h5 {
    border-bottom: 1px solid #8C8CFF;
}

p {
    margin-top: 0;
    text-align: justify;
}

a:link {                        /*这是访问之前的链接*/
    font-weight: normal; 
    text-decoration: none;
    color: blue;
    /* color: #1c3030; */
    /* color: #A34D32; */
}

a:visited {                     /*这是访问之后的链接*/
    font-weight: normal; 
    text-decoration: none;
    color: blue;    
    /* color: #5e251e; */
    /* color: #6E2432; */
}

a:hover, a:active { 
             text-decoration: underline;
             color: blue;
             border: 1px;   
    /* color: #3d696a; */
    /* color: #537d7b; */
}

dd {
    text-align: justify;
    margin-bottom: 14pt;
}

dt {
    font-size: 110%;
    color: #1c3030;
    /* color: #537d7b; */
    padding: 3px;
    margin-bottom: 3px;
}

li {
    margin: 8px;
    text-align: justify;
    list-style-image : url(http://orgmode.org/triangle.png);
}

#table-of-contents {
    font-size: 9pt;
    position: fixed;
    right: 22em;
    top: 10em;
    background: white;
    max-height: 80%;
    overflow: auto;
    z-index: 200;
}

#table-of-contents h2 {
    font-size: 9pt;
/*    max-width: 8em; */
    font-weight: normal;
    padding-left: 0.5em;
    padding-top: 0.05em;
    padding-bottom: 0.05em; 
}

#table-of-contents ul {
    margin-left: 14pt; 
    margin-bottom: 10pt;
    padding: 0
}

#table-of-contents li {
    padding: 0;
    margin: 1px;
    list-style: none;
}

#table-of-contents ul>:first-child {
    color: blue;
}

#table-of-contents #text-table-of-contents {
    display: none;
    text-align: left;
}

#table-of-contents:hover #text-table-of-contents {
    display: block;
    padding: 0.5em;
    margin-top: -1.5em; 
}

img.random {
    max-width: 750px;
    max-height: 380px;
    margin-bottom: 10pt;
    border: 1px solid black;
}

@media screen
{
  #table-of-contents {
    float: right;
    border: 1px solid #CCC;
    max-width: 50%;
    overflow: auto;
  }
} /* END OF @media screen */

/*
div.figure {
/*	float: right; 
	width: 30%;
	max-width: 500px;
	min-width: 300px;
/*	border: thin silver solid; 
	margin: 0.3em;
	padding: 0.3em;
}

div.figure p {
	text-align: center;
	font-style: italic;
	font-size: smaller;
	text-indent: 0;	
}

img.scaled{
	width: 50%;
}
*/

/* footer */

div#postamble
{
  clear:both;
  padding-top:0.6em;
  padding-bottom:1em;
  margin-top:3em;
  border-top:1px solid #333333;
}

#postamble p
{
  width:100%;
  text-align:center;
  font-size:0.8em;
  color:#666666;
}

#postamble p.date
{
  width:40%;
  padding-left:2ex;
  float:left;
  text-align:left;
  font-size:0.8em;
  color:#999999;
}
#postamble p.author
{
  clear:both;
  width:40%;
  padding-right:2ex;
  float:right;
  font-size:0.8em;
  color:#999999;
  text-align:right;
  white-space:wrap;
}
/* footer */

div#postamble
{
  clear:both;
  padding-top:0.6em;
  padding-bottom:1em;
  margin-top:3em;
  border-top:1px solid #333333;
}

#postamble p
{
  width:100%;
  text-align:center;
  font-size:0.8em;
  color:#666666;
}

#postamble p.date
{
  width:40%;
  padding-left:2ex;
  float:left;
  text-align:left;
  font-size:0.8em;
  color:#999999;
}
#postamble p.author
{
  clear:both;
  width:40%;
  padding-right:2ex;
  float:right;
  font-size:0.8em;
  color:#999999;
  text-align:right;
  white-space:wrap;
}

/* footer */

div#bibliography
{
  margin-top:3em;
  border-top:1px solid #333333;
}
div#postamble
{
  clear:both;
  padding-top:0.6em;
  padding-bottom:1em;
  margin-top:3em;
  border-top:1px solid #333333;
}

#postamble p
{
  width:100%;
  text-align:center;
  font-size:0.8em;
  color:#666666;
}

#postamble p.date
{
  width:40%;
  padding-left:2ex;
  float:left;
  text-align:left;
  font-size:0.8em;
  color:#999999;
}
#postamble p.author
{
  clear:both;
  width:40%;
  padding-right:2ex;
  float:right;
  font-size:0.8em;
  color:#999999;
  text-align:right;
  white-space:wrap;
}
